html,body,h1,h2,h3,h4,p,div,ul,li,svg{
	margin:0;
	padding:0;
	font-size:100%;
}

/*------------Structure-------------*/
html,body{
	position: relative;
	background: rgb(240,240,240);
	color:#fff;
}
.container{
	width:100%;
}
.container .canvas{
	width:100%;
	overflow:hidden;
}
.container .control{
	height:40px;
	margin:auto;
}

/*------------font-------------*/
body{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
}
h1{
	font-size: 1.8em;
	margin: 30px 0 10px;
	text-align:center;
}
h2{
	font-size:1.3em;
	margin: 0 0 20px;
}

/*------------tooltip-------------*/
.tooltip{
	width: 150px;
	padding: 15px;
	background: yellow;
	position: absolute;
	top:0;
	opacity:0;
}

/*-----------control--------------*/
.control .button{
    color:#fff;
    background: rgb(100,100,100);
    text-align:center;

    height:40px;
    width:150px;
    float:left;
    line-height:40px;
}
.control .button:hover{
    background: rgb(70,70,70);
}

/*------------svg-----------------*/
.canvas .line{
    fill:none;
    stroke-width:2px;
    stroke:rgb(80,80,80);
}
.canvas .area{
    fill:rgba(80,80,80,.1);
    stroke:none;
}
.canvas .axis .tick line{
    stroke:white;
    stroke-width:1px;
}

.canvas .small-canvas{
    width:100%;
}
